
.custom-navbar{
    width: 430px;
    background-color: pink;
    width: inherit;

}
.custom-navbar .navbar-brand {
    margin-right: auto; 
}

.custom-navbar .navbar-text {
    margin-left: auto; 
}

.custom-navbar a {
    font-weight: bold;
    color: white; 
    text-decoration: none;
}

.custom-navbar a:hover {
    color: #FFFACD; 
}
