.footer{
    background-color: #5a4af4;
    text-align: center;
    width: 100% !important;
    height: 50px;
    left: 0 !important;
    bottom: 0 !important;
    position: fixed !important;
}
.footer p {
    color: white;
    text-decoration: none;
    margin: 0 auto;
}
.footer .rights{
    color: white;
}

.footer p:hover {
text-decoration: underline;
}
.nav-container{
    width: 10000px;
}